html {
  height: 100%;
  width: 100%;
  font-family: "Lato" sans-serif !important;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet);
}

#main-content {
  font-family: "Lato", sans-serif;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  font-family: "Lato", sans-serif;
  margin: 10px;
  border: 1px solid #333;
  background: rgba(237, 150, 197, 0.75);
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  min-width: 400px;
  height: auto;
}
#tasks {
  font-family: "Lato", sans-serif;
  font-style: italic;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#sorting-button {
  font-family: "Lato", sans-serif;
  margin: 10px;
  border: 1px solid #333;
  background: rgba(226, 91, 163, 0.75);
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  align-self: flex-end;
}
#sorting-button:hover {
  background: rgba(222, 113, 171, 0.75);
  cursor: pointer;
}
#create-task-btn {
  font-family: "Lato", sans-serif;
  margin: 10px;
  border: 1px solid #333;
  background: rgba(226, 91, 163, 0.75);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}
#create-task-btn:hover {
  background: rgba(222, 113, 171, 0.75);
  cursor: pointer;
}

.delete-button {
  font-family: "Lato", sans-serif;
  margin: 5px;
  border: 1px solid #333;
  background: rgba(226, 91, 163, 0.75);
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}
.delete-button:hover {
  background: rgba(222, 113, 171, 0.75);
  cursor: pointer;
}
